temp/
HW1/Programming/model/bias.pickle
HW1/Programming/model/weight.pickle
HW1/Programming/ml-2022fall-hw1-report-template.docx
HW1/Programming/~$-2022fall-hw1-report-template.docx
HW1/Programming/~$report.docx